# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=zynetic
POSTGRES_PASSWORD=zynetic_secret
POSTGRES_DB=zynetic_energy

# App
PORT=3000
NODE_ENV=development

# Connection Pool
PG_POOL_MAX=20
